<!--副檔名erb為產生此html的方式(用rb(Ruby))-->
<h1>Hello , World!</h1>

<%= link_to "Root", root_path ,class: "btn btn-success" %>
<%= link_to "back", welcome_path ,class: "btn btn-warning" %>
<%= link_to "People", people_path ,class: "btn btn-warning" %>


